@font-face {
  font-family: 'Noto Sans SemCond ExtBd';
  src: url('./NotoSans-SemiCondensedExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Med';
  src: url('./NotoSans-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Galle';
  src: url('./Gall.woff2') format('woff2'), url('./Gall.woff') format('woff'),
    url('./Gall.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Tamil UI';
  src: url('./NotoSansTamilUI-Light.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./NotoSans-Light.woff2') format('woff2'),
    url('./NotoSans-Light.woff') format('woff'),
    url('./NotoSans-Light.ttf') format('opentype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./NotoSans-Regular.woff2') format('woff2'),
    url('./NotoSans-Regular.woff') format('woff'),
    url('./NotoSans-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Tamil UI';
  src: url('./NotoSansTamilUI-Medium.woff2') format('woff2'),
    url('./NotoSansTamilUI-Medium.woff') format('woff'),
    url('./NotoSansTamilUI-Medium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI';
  src: url('./NotoSansSinhalaUI-Regular.woff2') format('woff2'),
    url('./NotoSansSinhalaUI-Regular.woff') format('woff'),
    url('./NotoSansSinhalaUI-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans ExtraCondensed';
  src: url('./NotoSans-ExtraCondensedBoldItalic.woff2') format('woff2'),
    url('./NotoSans-ExtraCondensedBoldItalic.woff') format('woff'),
    url('./NotoSans-ExtraCondensedBoldItalic.ttf') format('opentype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI Condensed';
  src: url('./NotoSansSinhalaUI-CondensedMedium.woff2') format('woff2'),
    url('./NotoSansSinhalaUI-CondensedMedium.woff') format('woff'),
    url('./NotoSansSinhalaUI-CondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Tamil Condensed';
  src: url('./NotoSansTamil-CondensedMedium.woff2') format('woff2'),
    url('./NotoSansTamil-CondensedMedium.woff') format('woff'),
    url('./NotoSansTamil-CondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('NotoSans-Condensed.woff2') format('woff2'),
    url('NotoSans-Condensed.woff') format('woff'),
    url('NotoSans-Condensed.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('NotoSans-CondensedBold.woff2') format('woff2'),
    url('NotoSans-CondensedBold.woff') format('woff'),
    url('NotoSans-CondensedBold.ttf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans SemiCondensed';
  src: url('NotoSans-SemiCondensedMedium.woff2') format('woff2'),
    url('NotoSans-SemiCondensedMedium.woff') format('woff'),
    url('NotoSans-SemiCondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI SemiCondensed';
  src: url('NotoSansSinhalaUI-SemiCondensedMedium.woff2') format('woff2'),
    url('NotoSansSinhalaUI-SemiCondensedMedium.woff') format('woff'),
    url('NotoSansSinhalaUI-SemiCondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Tamil UI SemiCondensed';
  src: url('NotoSansTamilUI-SemiCondensedMedium.woff2') format('woff2'),
    url('NotoSansTamilUI-SemiCondensedMedium.woff') format('woff'),
    url('NotoSansTamilUI-SemiCondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans ExtraCondensed';
  src: url('NotoSans-ExtraCondensedItalic.woff2') format('woff2'),
    url('NotoSans-ExtraCondensedItalic.woff') format('woff'),
    url('NotoSans-ExtraCondensedItalic.ttf') format('opentype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans SemiCondensed';
  src: url('NotoSans-SemiCondensedBold.woff2') format('woff2'),
    url('NotoSans-SemiCondensedBold.woff') format('woff'),
    url('NotoSans-SemiCondensedBold.ttf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI SemiCondensed';
  src: url('NotoSansSinhalaUI-SemiCondensedExtraBold.woff2') format('woff2'),
    url('NotoSansSinhalaUI-SemiCondensedExtraBold.woff') format('woff'),
    url('NotoSansSinhalaUI-SemiCondensedExtraBold.ttf') format('opentype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Noto Sans Tamil UI SemiCondensed';
  src: url('NotoSansTamilUI-SemiCondensedBold.woff2') format('woff2'),
    url('NotoSansTamilUI-SemiCondensedBold.woff') format('woff'),
    url('NotoSansTamilUI-SemiCondensedBold.ttf') format('opentype');
  font-style: normal;
  font-weight: bold;
}
