
@font-face {
    font-family:"Noto Sans SemiCondensed Medium";
    src:url("NotoSans-SemiCondensedMedium.woff2") format("woff2"),url("NotoSans-SemiCondensedMedium.woff") format("woff"),url("NotoSans-SemiCondensedMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        