
@font-face {
    font-family:"Noto Sans SemiCondensed Bold";
    src:url("NotoSans-SemiCondensedBold.woff2") format("woff2"),url("NotoSans-SemiCondensedBold.woff") format("woff"),url("NotoSans-SemiCondensedBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        