
@font-face {
    font-family:"Noto Sans Tamil UI SemiCondensed Medium";
    src:url("NotoSansTamilUI-SemiCondensedMedium.woff2") format("woff2"),url("NotoSansTamilUI-SemiCondensedMedium.woff") format("woff"),url("NotoSansTamilUI-SemiCondensedMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        