
@font-face {
    font-family:"Noto Sans Tamil UI SemiCondensed Bold";
    src:url("NotoSansTamilUI-SemiCondensedBold.woff2") format("woff2"),url("NotoSansTamilUI-SemiCondensedBold.woff") format("woff"),url("NotoSansTamilUI-SemiCondensedBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        