
@font-face {
    font-family:"Noto Sans Sinhala UI Regular";
    src:url("NotoSansSinhalaUI-Regular.woff2") format("woff2"),url("NotoSansSinhalaUI-Regular.woff") format("woff"),url("NotoSansSinhalaUI-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        