
@font-face {
    font-family:"Noto Sans Condensed Bold";
    src:url("NotoSans-CondensedBold.woff2") format("woff2"),url("NotoSans-CondensedBold.woff") format("woff"),url("NotoSans-CondensedBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        