
@font-face {
    font-family:"Noto Sans Sinhala UI SemiCondensed Medium";
    src:url("NotoSansSinhalaUI-SemiCondensedMedium.woff2") format("woff2"),url("NotoSansSinhalaUI-SemiCondensedMedium.woff") format("woff"),url("NotoSansSinhalaUI-SemiCondensedMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        