<meta itemprop="name" content="{{ site.name }}" />

<meta itemprop="image" content="http://akurucollective.com/images/img.png" />

<meta itemprop="description" content="{{ site.description }}" />

<meta name="description" content="{{ site.description }}" />

<meta name="author" content="{{ site.name }}" />




<meta property="og:title" content="{{ site.name }}" />

<meta property="og:type" content="article" />

<meta property="og:description" content="{{ site.description }}" />

<meta property="og:image" content="http://akurucollective.com/images/img.png" />

<meta property="og:url" content="{{ site.url }}" />

<meta property="og:site_name" content="{{ site.name }}" />



<meta name="twitter:card" content="summary">

<meta name="twitter:title" content="[ TITLE ]">

<meta name="twitter:description" content="{{ site.description }}">

<meta name="twitter:image" content="[ LISTING IMAGE ]">

<meta name="twitter:url" content="{{ site.url }}">

<link rel="stylesheet" type="text/css" href="https://pretix.eu/akuru/typography-meetup/widget/v1.css">
<script type="text/javascript" src="https://pretix.eu/widget/v1.en.js" async></script>



<script>
// Set the date we're counting down to
var countDownDate = new Date("Feb 20, 2017 11:59:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("timer").innerHTML = "තව දින " + days + " පැය  "
    + hours + " මිනිත්තු  " + minutes + " තත්පර  " + seconds ;

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
