@font-face {
  font-family: 'Noto Sans SemCond ExtBd';
  src: url('../fonts/NotoSans-SemiCondensedExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Med';
  src: url('../fonts/NotoSans-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Galle';
  src: url('../fonts/fonts/Gall.woff2') format('woff2'), url('.../fonts/fonts/Gall.woff') format('woff'),
    url('.../fonts/fonts/Gall.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Tamil UI';
  src: url('../fonts/fonts/NotoSansTamilUI-Light.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Light.woff2') format('woff2'),
    url('../fonts/NotoSans-Light.woff') format('woff'),
    url('../fonts/NotoSans-Light.ttf') format('opentype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../fonts/NotoSans-Regular.woff') format('woff'),
    url('../fonts/NotoSans-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Tamil UI';
  src: url('../fonts/NotoSansTamilUI-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansTamilUI-Medium.woff') format('woff'),
    url('../fonts/NotoSansTamilUI-Medium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI';
  src: url('../fonts/NotoSansSinhalaUI-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansSinhalaUI-Regular.woff') format('woff'),
    url('../fonts/NotoSansSinhalaUI-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans ExtraCondensed';
  src: url('../fonts/NotoSans-ExtraCondensedBoldItalic.woff2') format('woff2'),
    url('../fonts/NotoSans-ExtraCondensedBoldItalic.woff') format('woff'),
    url('../fonts/NotoSans-ExtraCondensedBoldItalic.ttf') format('opentype');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI Condensed';
  src: url('../fonts/NotoSansSinhalaUI-CondensedMedium.woff2') format('woff2'),
    url('../fonts/NotoSansSinhalaUI-CondensedMedium.woff') format('woff'),
    url('../fonts/NotoSansSinhalaUI-CondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Tamil Condensed';
  src: url('../fonts/NotoSansTamil-CondensedMedium.woff2') format('woff2'),
    url('../fonts/NotoSansTamil-CondensedMedium.woff') format('woff'),
    url('../fonts/NotoSansTamil-CondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('NotoSans-Condensed.woff2') format('woff2'),
    url('NotoSans-Condensed.woff') format('woff'),
    url('NotoSans-Condensed.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans Condensed';
  src: url('NotoSans-CondensedBold.woff2') format('woff2'),
    url('NotoSans-CondensedBold.woff') format('woff'),
    url('NotoSans-CondensedBold.ttf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans SemiCondensed';
  src: url('NotoSans-SemiCondensedMedium.woff2') format('woff2'),
    url('NotoSans-SemiCondensedMedium.woff') format('woff'),
    url('NotoSans-SemiCondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI SemiCondensed';
  src: url('NotoSansSinhalaUI-SemiCondensedMedium.woff2') format('woff2'),
    url('NotoSansSinhalaUI-SemiCondensedMedium.woff') format('woff'),
    url('NotoSansSinhalaUI-SemiCondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans Tamil UI SemiCondensed';
  src: url('NotoSansTamilUI-SemiCondensedMedium.woff2') format('woff2'),
    url('NotoSansTamilUI-SemiCondensedMedium.woff') format('woff'),
    url('NotoSansTamilUI-SemiCondensedMedium.ttf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans ExtraCondensed';
  src: url('NotoSans-ExtraCondensedItalic.woff2') format('woff2'),
    url('NotoSans-ExtraCondensedItalic.woff') format('woff'),
    url('NotoSans-ExtraCondensedItalic.ttf') format('opentype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans SemiCondensed';
  src: url('NotoSans-SemiCondensedBold.woff2') format('woff2'),
    url('NotoSans-SemiCondensedBold.woff') format('woff'),
    url('NotoSans-SemiCondensedBold.ttf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Sans Sinhala UI SemiCondensed';
  src: url('NotoSansSinhalaUI-SemiCondensedExtraBold.woff2') format('woff2'),
    url('NotoSansSinhalaUI-SemiCondensedExtraBold.woff') format('woff'),
    url('NotoSansSinhalaUI-SemiCondensedExtraBold.ttf') format('opentype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Noto Sans Tamil UI SemiCondensed';
  src: url('NotoSansTamilUI-SemiCondensedBold.woff2') format('woff2'),
    url('NotoSansTamilUI-SemiCondensedBold.woff') format('woff'),
    url('NotoSansTamilUI-SemiCondensedBold.ttf') format('opentype');
  font-style: normal;
  font-weight: bold;
}
