
@font-face {
    font-family:"Noto Sans Sinhala UI SemiCondensed ExtraBold";
    src:url("NotoSansSinhalaUI-SemiCondensedExtraBold.woff2") format("woff2"),url("NotoSansSinhalaUI-SemiCondensedExtraBold.woff") format("woff"),url("NotoSansSinhalaUI-SemiCondensedExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        