
@font-face {
    font-family:"Noto Sans Tamil Condensed Medium";
    src:url("NotoSansTamil-CondensedMedium.woff2") format("woff2"),url("NotoSansTamil-CondensedMedium.woff") format("woff"),url("NotoSansTamil-CondensedMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        