
@font-face {
    font-family:"Noto Sans Sinhala UI Condensed Medium";
    src:url("NotoSansSinhalaUI-CondensedMedium.woff2") format("woff2"),url("NotoSansSinhalaUI-CondensedMedium.woff") format("woff"),url("NotoSansSinhalaUI-CondensedMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        