<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>typography.lk {{ site.title }}</title>
  <link rel="me" href="https://twitter.com/twitterdev">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/fonts/fonts.css"> {% include head.html %}
</head>
<body>
  <div class="container">
    <h1>
        <img src="/assets/images/akuru-logo_triling.svg"
               </h1> {{ content }}
  </div>
  {% include scripts.html %}
</body>
</html>
